backend/.venv
backend/__pycache__
backend/alembic\versions\__pycache__
**.pyc
**.mako
**.db
**.sqlite
**.lock
**.env*
fly.toml
**/.dockerignore
**/Dockerfile
**/*.sh

frontend/.next
frontend/.vscode
frontend/node_modules
